# Godot-specific ignores
.import/
export.cfg
.godot/

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~

build/
/vendor/
/blender/
/\!dev/**/*
!/\!dev/.gdignore
/packages/
obj/
*.xml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json.example
.vscode/launch.json
!.vscode/launch.json.example
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history


*.dae

#Paket dependency manager
.paket/**
!.paket/paket.bootstrapper.exe
paket-files/
*.blob


lib/godot-cpp/
lib/godot-cpp/godot_headers/
lib/godot-cpp/**/*.import
lib/googletest/**
/demo/**
/bin/**
/godot-project/bin/**
!/godot-project/.gdignore
/code_coverage_report
/code_coverage_report/**


*.dblite
*.os
*.gcda
*.gcno
*.info
src/**/*.obj
godot-project/src/**/*.obj

api.json

**/__pycache__/**

.env

/godot-editor/**
/blender-and-godot-editor/**

!.gdignore
!/**/.gdignore
!**/\.gitkeep
/godot-project/bin/**
