{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/godot-editor/Godot_linux.x86_64",
            "args": [
                "--audio-driver",
                "Dummy",
                "--path",
                "${workspaceFolder}",
                "--verbose"
            ],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ],
            "preLaunchTask": "linuxbuild"
        },
        {
            "name": "Launch in debug editor",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/godot-editor/Godot_linux.x86_64",
            "args": [
                "--audio-driver",
                "Dummy",
                "--path",
                "${workspaceFolder}",
                "--verbose"
            ],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ],
            "preLaunchTask": "linuxbuild"
        },
        {
            "name": "Open project in Godot Editor",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/godot-editor/Godot_linux.x86_64",
            "args": [
                "-e",
                "--path",
                "${workspaceFolder}"
            ],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ],
            "preLaunchTask": "linuxbuild"
        },
        {
            "name": "Launch tests",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/godot-editor/Godot_linux.x86_64",
            "args": [
                "--audio-driver",
                "Dummy",
                "--path",
                "${workspaceFolder}"
            ],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}",
            "environment": [],
            "externalConsole": false,
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "Enable pretty-printing for gdb",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                }
            ],
            "preLaunchTask": "linuxbuildwithtests"
        }
    ]
}
